<html lang="en">
<head>
    <%- include('partials/head') %>
</head>
<body>
    <div id="particles-js"></div>

    <!-- Particles Scripts -->
    <script src="/javascript/lib/stats.js"></script>
    <script src="/javascript/particles.min.js"></script>
    <script src="/javascript/app.js"></script>
    
    <section class="navbar-s">
        <%- include('partials/navbar') %>
    </section>
</body>
</html>