<html lang="en">
<head>
    <%- include('partials/head') %>
</head>
<body>
    
    

    <div class="navbar-s">
        <%- include('partials/navbar') %>
    </div>
    
    <section class="prgg" >
        <div class="projects">
            <% proj.map((projects, index) => {%>
                <%- include('partials/project', { projects }) -%>
            <% }) %>
        </div>
    </section>
    

    <div id="particles-js"></div>

    <!-- Particles Scripts -->
    <script src="/javascript/lib/stats.js"></script>
    <script src="/javascript/particles.min.js"></script>
    <script src="/javascript/app.js"></script>
    
</body>
</html>

<style>
    .projects {
        position: absolute;
        margin-top: 10%;
    }

    .prgg {
        margin-left: 20%;
    }
</style>